	#navbar { 
	   text-align: center;
	}
	
	#navigation {
		background-color: red;
	}
	
	#navigation ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: top; 
	}
	
	#navigation ul li {
		float: left;
	}
	
	h1 {
		color: blue;
		background-color: rgb(050, 050, 050);
		font-family: verdana;
		float: center;
		font-size: 1em;
		margin: 5px 5px;
	}

	#blue {
		color:blue;
	}
	
	